@bg: #F3F5F8;
@bgA: #F3F5F899;
@black: #4A4A4A;
@blue: #162A4A;
@grey: #E7EBF0;
@greyA: fadeout(@grey, 50%);
@greyA100: fadeout(@grey, 70%);
@greyA200: fadeout(@grey, 90%);
@grey100: #DBE0E9;
@grey200: #B7C1D2;
@grey300: #93A5BB;
@grey400: #6F87A4;
@grey500: #5B7390;
@hot-pink: rgb(243, 126, 188);
@pale-blue: #44546d;
@pale-blueA: fadeout(@pale-blue, 50%);
@pale-blueA100: fadeout(@pale-blue, 70%);
@pale-blueA200: fadeout(@pale-blue, 90%);
@pale-blueA300: fadeout(@pale-blue, 95%);
@pink: rgb(246, 187, 218);
@red: rgb(240, 3, 127);
